pydantic>=2.9.2
pydantic-settings>=2.5.2
pandas>=2.2.2
numpy>=2.0.1
sqlalchemy>=2.0.35
scikit-learn>=1.5.1
streamlit>=1.38.0
plotly>=5.24.0
python-dotenv>=1.0.1
loguru>=0.7.2
yfinance>=0.2.43
ccxt>=4.4.15
